@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300&display=swap');

.background{
  background-image: url(../Home/background.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0% 0%;
  text-align: center;
  background-position-x: center;
 
}


.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #026773;
    text-align: center;
    color: white;
    width: 240px;
    height: auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: aqua;
    transition: 500ms;
  }
  .name{
    margin-top: 15px;
    font-size: 50px;
    text-transform: uppercase;
    color:rgb(48, 48, 110);
    
    font-family: "Times New Roman", Times, serif;
    text-align: start;
    width: 300px;
    
  }
  .price{
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-top: 5px;
    left: 2%;

  }
  .quality{
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    margin-top: 10px;
    text-align: left;
    right: 49px;
  }
  .img{
    margin-top: 3px;
    padding: 20px;
    border-radius: 25px;
    border:5px;
    height: 300px;
    position:absolute;
    right: 600px;
    
  }

  .inicio{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenedor{
    display:flex;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.053);
    height: 400px;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid white;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .score{
    margin-top: 2px;
    position:absolute;
    right:15%;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    
  }
.inisec{
  position: absolute;
  font-family: cursive;
  top:60%;
  right: 3%;
}
.seMore{
  position:absolute;
  bottom: 100px;
  right: 43%;
}
.quantity{
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  position: absolute;
    top:-30px;
    left:-200px;
 
}
  .btncarrito{
    position: absolute;
    top: 40%;
    right: 2%;

  }
  .quantity{
    position: relative;
    top:0%;
    left:-200px;
  }
 /*  .btnSubstract{
    position: relative;
    top:60%;
    right:500%
  }
  .btnAdd{
    position:relative;
    top:30%;
    right: 350%;
  } */
  
  