/* @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Noto+Sans:wght@200&display=swap');

.background{
    background-image: url('cartBackground.jpg');
}


 .box{
    margin-top: 3%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	background-color: #98949467;
	height:40em;
	width: 98%;
	display:-webkit-box;
	display:-ms-flexbox;
    position:relative;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;

	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius:65px;

}

.title{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
} */

 /* .container{
    max-width:100%;
    width:100%;
    list-style-type:none;
    margin:20px 2px 2px;
  
    padding-right: 1%;
    background-color:#eee;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.containerItem{
    max-width:95%;
    width:1380px;
    list-style-type:none;
    margin:20px 2px 2px 2px;

    background-color:#eee;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
} 

.tamanoimg{
    max-width:150px;
    max-height: 100px;
    margin-right: 20%;
 
} 

/* .stock{
  margin-left: 5rem;
} 

 .text{
    border-collapse: collapse;
    width: 150px;
    margin-right: 40px;
} */

/* h5{
    padding-left: 2rem;
} 

.price{
    margin-left: 3rem;


} */
/* .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #026773;
    text-align: center;
    color: white;
    width: 240px;
    height: auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #08a1b1;
    transition: 500ms;
  }  */
  .background{
    background-image: url(../Home/background.png);
   
}

.tabla{
    width: 100%;
   
    
}
  .tamanoimg{
    max-width:150px;
    max-height: 100px;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 25%;

 
}
.text{
    text-transform: uppercase;
   
    width: 150px;
    margin-right: 40px;
}
.title{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5%;
} 
.elementosTabla{
    background-color: grey;
}
.tbodyStilos{
    background-color: rgb(229, 221, 221);
    bottom: 45%;
}
.Total{
    text-transform: uppercase;
    font-size: 20px;
    margin-right: -79%;
}
.bottonInicio{
    text-decoration: none;
    color:white;
}